*,
*:after,
*:before {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  background: url("../images/white-wood.jpg") no-repeat;
  background-size: cover;

}

.container,
h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
}

h1, h4 {
  background: linear-gradient(to right, #FFF, #000);
}

.amiable {
  border: 1px solid #22aa44;
  background-color: #44cc66;
  box-shadow: -1px 1px #22aa44,
              -2px 2px #22aa44,
              -3px 3px #22aa44,
              -4px 4px #22aa44,
              -5px 5px #22aa44;

}

.indifferent {
  border: 1px solid #f0cc03e8;
  background-color: #dddd22;
  box-shadow: -1px 1px #f0cc03e8,
              -2px 2px #f0cc03e8,
              -3px 3px #f0cc03e8,
              -4px 4px #f0cc03e8,
              -5px 5px #f0cc03e8;

}

.dubious {
  border: 1px solid #a00909e7;
  background-color: #dd4444;
  box-shadow: -1px 1px #a00909e7,
              -2px 2px #a00909e7,
              -3px 3px #a00909e7,
              -4px 4px #a00909e7,
              -5px 5px #a00909e7;
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
}

.med {
  width: 203.5%;
}

.large {
  width: 303%;
}

img {
  border: 2px solid black;
}
